@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

:root {
  --color-primary-50: rgb(var(--tw-color-primary-50));
  --color-primary-100: rgb(var(--tw-color-primary-100));
  --color-primary-200: rgb(var(--tw-color-primary-200));
  --color-primary-300: rgb(var(--tw-color-primary-300));
  --color-primary-400: rgb(var(--tw-color-primary-400));
  --color-primary-500: rgb(var(--tw-color-primary-500));
  --color-primary-600: rgb(var(--tw-color-primary-600));
  --color-primary-700: rgb(var(--tw-color-primary-700));
  --color-primary-800: rgb(var(--tw-color-primary-800));
  --color-primary-900: rgb(var(--tw-color-primary-900));
}

nextjs-portal {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter';
  font-size: 18px;
  background-color: #f9f9f9;
  overflow-x: hidden;
}

.h0 {
  @apply font-primary text-3xl font-bold md:text-5xl;
}

h1,
.h1 {
  @apply font-primary text-2xl font-bold md:text-4xl;
}

h2,
.h2 {
  @apply font-primary text-xl font-bold md:text-3xl;
}

h3,
.h3 {
  @apply font-primary text-lg font-bold md:text-2xl;
}

h4,
.h4 {
  @apply font-primary text-base font-bold md:text-lg;
}

body,
.p {
  @apply font-primary text-sm md:text-base;
}