@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter';
  font-size: 18px;
  background-color: #f9f9f9;
  overflow-x: hidden;
}

p {
  line-height: 25px;
}